.mirzapic {
    height: 250px;
    width: 200px;
    border-radius: 10%;
}

.qualification {
    padding-top: 40px;
}

.section-title {
    padding-top: 40px;
}

footer {
    text-align: center;
    padding-top: 40px;
}